<!DOCTYPE html>
<html lang="ko">

<head th:replace="common/head">
</head>

<body>

    <div th:replace="common/header">
    </div>

    <nav th:replace="common/nav">
    </nav>

    <div class="container mt-5">
        
        <div class="row">
            <h1>일기장</h1>
            <form method="post" action="/diary">
            <div class="mb-3 input-group flex-nowrap">
                <input type="text" class="form-control" id="title" name="title" placeholder="제목">
            </div>
            <div>
                <textarea type="text" class="form-control" id="content" name="content" placeholder="내용"></textarea>
            </div>
            <button class="btn btn-primary">글쓰기</button>
            <button class="btn btn-primary">삭제</button>
            </form>
        </div>
    </div>

    <div th:replace="common/footer">
    </div>

</body>

</html>